.row
  = @date

  - @games.each do |game|
    = game.a_team



  %h3
    Typy Twe:
  %ul
  - @bets.each do |bet|
    %li
      = bet.team == 'a' ? bet.game.a_team : bet.game.h_team
      = bet.handicap
      = " : "
      = bet.game.a_team
      = " @ "
      = bet.game.h_team
      = " #{bet.game.a_score}:#{bet.game.h_score} --- #{bet.result}"
      = bet.result == 1 ? 'ok' : '-'




  - if  !@bets_other.empty?
    %h3
      Typy nie twe:
    %ul
    - @bets_other.each do |bet|
      %li
        = bet.team == 'a' ? bet.game.a_team : bet.game.h_team
        = bet.handicap
        = " : "
        = bet.game.a_team
        = " @ "
        = bet.game.h_team
        = " #{bet.game.a_score}:#{bet.game.h_score} --- #{bet.result}"
        = bet.result == 1 ? 'ok' : '-'







  .days_nav
    %a{:href => "./#{@prev_day}", :class => "btn", :title => @prev_day.to_date}
      %i{:class => "icon-arrow-left prev"}
      Prev

    %a{:href => "./#{@next_day}", :class => "btn next"}
      Next
      %i{:class => "icon-arrow-right"}


.row
  .twelve.columns
    - @users.each do |u|
      - if !u.bets.empty?
        = "#{u.email} : #{u.bet_score(@date)}"
