.row
  .twelve.columns
    %h5.date
      = Date.today
.row
  .games.seven.columns
    %ul
    - @games.each do |game|
      %ul{'data-id' => game.id, :class => 'button-group radius'}
        %li.a_team.team{'data-team' => 'a'}
          %span.button
            = "#{game.a_team} (#{game.a_handicap})"
        %li.h_team.team{'data-team' => 'h'}
          %span.button
            = "#{game.h_team} (#{-game.a_handicap})"

  .bet.five.columns
    - if @bets.empty?
      .bet_counter
        4

      = form_tag bets_path do
        - 4.times do |i|
          = hidden_field_tag "bets[#{i}][game_id]"
          = hidden_field_tag "bets[#{i}][team]"
          = hidden_field_tag "bets[#{i}][handicap]"
          = hidden_field_tag "bets[#{i}][team]"
        = hidden_field_tag 'authenticity_token', form_authenticity_token
        = submit_tag 'bet', class: 'button', id: 'submit_bet'
    - else
      %h3
        Typy Twe:
        %ul
        - @bets.each do |bet|
          %li
            = bet.team == 'a' ? bet.game.a_team : bet.game.h_team
            = bet.handicap
      - if  !@bets_other.empty?
        %h3
          Typy nie twe:
          %ul
          - @bets_other.each do |bet|
            %li
              = bet.team == 'a' ? bet.game.a_team : bet.game.h_team
              = bet.handicap

    .bet_ok
      Bydzie

    #loader

  %a{:class => "btn", :href => "update_lines"}
    Update lines


.row
  - @users.each do |u|
    - if !u.bets.empty?
      = "#{u.email} : #{u.bet_score}"